# Build directories
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# IDE files
.vscode/
*.pro.user
*.autosave
moc_คอย.cpp
qrc_*.cpp
ui_*.h

# Executables and libraries
*.exe
*.dll
*.so
*.lib

# Logs and databases
*.log
*.db
*.session.sql

# Qt specific
#resources.qrc     # 可选：如果不想提交资源文件

# Temp files
*.tmp
*.bak